#set( $H1 = "#" )
#set ($H2 = "#" + $H1)
#set ($H3 = "#" + $H2)
#set ($H4 = "#" + $H3)
#set ($DATE_FORMAT="YYYY-MM-dd")
#*@formatter:off*#
$H1 Change Log for $projectName

#foreach ($versionRecord in $versionRecords)

$H2 [$versionRecord.tagName]($tagUrl/$versionRecord.getTagUrlSegment())($dateTool.format($DATE_FORMAT,$versionRecord.releaseDateAsDate))

$H3 Summary

#foreach ($commitRecord in $versionRecord.commits)
- $commitRecord.shortMessage
#end

#foreach ($fixEntry in $versionRecord.fixesByGroup.entrySet())

$H3 $fixEntry.key
#foreach($issue in $fixEntry.value)
- [$issue.number]($issue.htmlUrl) $issue.title
#end

#end
#end
#*@formatter:on*#